.scan{
    position: absolute;
    left: 40%;
    top: 30%;
margin: auto;
padding: 10px;
border: 20px black;
background-color: aquamarine;
}
.image{
    position: absolute;
    left: 41%;
    top: 46%;
    margin: auto;
    box-sizing: border-box;
    padding: 20px;
    background-color:aqua ;
}
.note{
    position:absolute;
    left: 20%;
    top:80%;
}
























































































































































































































































































































































































































































































































































































































































































































































































































































































































